@import url("https://fonts.googleapis.com/css?family=Merriweather|Oswald")

body
  font-family 'Oswald'

.contact
  margin auto
  text-align center
  margin-bottom 20px
  background-color #EAF5D8
  padding 20px
  border-radius 50px
.contact-container
  padding: 15px

.buttons
  margin 5px
.modal-buttons
  margin auto
