doctype html
html(ng-app="phone-book")
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="style.css")
  body
    div 
      a(ui-sref="home", ui-sref-active='active') Home
      br
      a(ui-sref="book", ui-sref-active='active') Book
    div(ui-view)
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(src="./all.min.js")
